<html>
    <head>
        <title>Chord Identify</title>
        <link rel="stylesheet" href="styles/chords.css">
        <script type="text/javascript" src="lib/abcjs-basic-min.js"></script>
    </head>
    <body>

        <div id="mu-canvas"></div>

        <div id="piano-ui">

            <div id ="n48" class="keys white"></div>
            <div id="n49" class="keys black"></div>
            <div id ="n50" class="keys white"></div>
            <div id="n51" class="keys black"></div>
            <div id ="n52" class="keys white"></div>
            <div id ="n53" class="keys white"></div>
            <div id="n54" class="keys black"></div>
            <div id ="n55" class="keys white"></div>
            <div id="n56" class="keys black"></div>
            <div id ="n57" class="keys white"></div>
            <div id="n58" class="keys black"></div>
            <div id ="n59" class="keys white"></div>

            <div id ="n60" class="keys white"></div>
            <div id="n61" class="keys black"></div>
            <div id ="n62" class="keys white"></div>
            <div id="n63" class="keys black"></div>
            <div id ="n64" class="keys white"></div>
            <div id ="n65" class="keys white"></div>
            <div id="n66" class="keys black"></div>
            <div id ="n67" class="keys white"></div>
            <div id="n68" class="keys black"></div>
            <div id ="n69" class="keys white"></div>
            <div id="n70" class="keys black"></div>
            <div id ="n71" class="keys white"></div>

        </div>
        <div id="content">

        
            <div id="osc1">
            Oscillator 1
                <select id="osc1-type">
                <option value="0">Sine</option>
                <option value="1">Square</option>
                <option value="2">Sawtooth</option>
                <option value="3">Triangle</option>
                </select>
    
    
                <select id="osc1-harmonize">
                <option value="0">None</option>
                <option value="1">5th up</option>
                <option value='2'>5th down</option>
                <option value="3">Octave up</option>
                <option value="4">Octave down</option>
                <option value="5">Third up</option>
                <option value="6">Third down</option>
                </select>
            </div>
            <div id="osc2">
            Oscillator 2
                <select id="osc2-type">
                <option value="0">Sine</option>
                <option value="1">Square</option>
                <option value="2">Sawtooth</option>
                <option value="3">Triangle</option>
                </select>
    
    
                <select id="osc2-harmonize">
                <option value="0">None</option>
                <option value="1">5th up</option>
                <option value='2'>5th down</option>
                <option value="3">Octave up</option>
                <option value="4">Octave down</option>
                <option value="5">Third up</option>
                <option value="6">Third down</option>
                </select>
            </div>
        
        <button id="synbtn" onclick="makeSynth()">New synth</button>
        
        <button id="render" onclick="abcRender()">Render notes</button>
        <button id="abcToggle" onclick="abcToggle()">Edit mode toggle</button>
        <div id="editReadme">
            MIDI notes : corresponding edit function
            21 : edit left hand
            23 : edit right hand 
            27 28 29 : 2 4 8(time)
            

        </div>
        <p id='rightHeader'>right hand</p>
        <textarea id="right">[V: PianoRightHand]|</textarea>
        <p id='leftHeader'>left hand</p>
        <textarea id="left">[V: PianoLeftHand]|</textarea>
        <p>header</p>
        <textarea id="header">X:1
T:Song title 
L:1/4
%%staves {(PianoRightHand) (PianoLeftHand)}
V:PianoRightHand clef=treble
V:PianoLeftHand clef=bass
K:Ab
</textarea>

      
        
        <div id="info">
            <b>Brad Shaffer</b>
            <br>
            <b>bradsha0802@gmail.com</b>
        </div>
        <div id="links">
            <a href="https://github.com/bsharpcb">Github</a>
            <a href="https://www.linkedin.com/in/bradley-shaffer-9a8b5772/">LinkedIn</a>
        </div>
        
    </div>
    <script type="text/javascript" src="midi.js"></script>
    <script type="text/javascript" src="utility.js"></script>
    </body>
</html>