<html>
    <head>
        <title>What's on my Whiteboard?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/whiteboard.css">
    </head>
    <body>
      
        <!-- The Modal -->
        <div id="wb-img-modal" class="modal">
          <span class="close" onclick="closeWbModal()">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Home</a>
                <a href="/flashnotes">MIDI Practice Flashcards</a>
                <a href="/lesson1">Chord names </a>
                <a href="/transcribe">Transcribe MIDI Inputs</a>
                <!--a href="/whiteboard">What's on my Whiteboard?</a-->
        </div>
        <div id="top-bar">
            <img src="/img/logo-alpha.png" onclick="openNav()">
            <span id="title-top">
                <div class="imessage">
                    <p class="from-them">What's on my Whiteboard?</p>
                  </div>
            </span>
        </div>
        <div class="header">
            <h1>Pictures of my whiteboard + caffeinated explanations</h1>
            <p>Music theory, fighting games, programming, education, communication, 
                and whatever I happen to find fascinating that day</p>
          </div>



          <div class="row">
            <div class="leftcolumn">
              <div class="card">
                <h2>10 Scales for Jazz Improvisation - 01/02/2022</h2>
                <h5>Listening to Gary Burton's improvisation lecture (<a href="https://youtu.be/t2txO_u2eNg">Loyola University, July 2011</a>), learning about 3 new scales, and trying to internalize their relevance within the context of the 7 major modes.</h5>
                <div class="fakeimg"><img id="wb-010922" class="wb-img" alt="Symmetrical diminished has 8 notes isn't that WEIRD HMM I WONDER WHY THEY CALL IT SYMMETRICAL " src="/img/wb-jan9sh.jpg" onclick="wbModal('wb-010922')"></div>

                <p> <h1>Intro: </h1>When I was at university, I found it incredibly different to sit through an entire lecture- even for
                    classes I was interested in. Years later, as a working adult, I'm grateful to have found ways to
                    enjoy
                    the benefits of a college lecture, without having to manage the anxiety I experience when sitting in
                    a room
                    full of people giving their attention to a single speaker.
                    <br>
                    This particular lecture has been floating in and out of my YouTube recomendations for the last
                    several months.
                    The other day I found myself reluctantly awake at 4am, looking for something to dive into. Seeing
                    this video wave to me
                    in my recommendations once again, I decided this would be the perfect time :)
                   
                    <h2>For starters. Here are some concepts I knew prior to watching the lecture:</h2>
                <ul>
                    <li>There are 7 'modes' of the major scale</li>
                    <li>Starting from any of the 7 scale degrees will
                        change the relevance of that scale (if you play C major,
                        but start from A, your major scale is now a minor scale)</li>
                    <li>The 7 modes in chromatic order are: 
                        <ol>
                            <li>Ionian(major)</li>
                            <li>Dorian</li>
                            <li>Phrygian</li>
                            <li>Lydian</li>
                            <li>Mixolydian</li>
                            <li>Aeolian(minor)</li>
                            <li>Locrian</li>
                        </ol></li>
                    <li>I also know that some of these modes are 'brighter' or 'darker' in the same way that major and
                        minor are</li>
                </ul>

                <h2>Now, here are some of the new and useful things I learned:</h2>
                <ul>
                    <li>Each of these modes is associated with a chord type. Interestingly, only Lydian, Ionian, and
                        Mixolydian are associated with Major</li>
                    <li>Lydian is even brighter than Major/Ionian</li>
                    <li>Locrian is darker than Phrygian</li>
                    <li>The 7 modes in order of <i>bright</i> to <i>dark</i> are: 
                        <ol>
                            <li>Lydian</li>
                            <li>Ionian(major)</li>
                            <li>Mixolydian</li>
                            <li>Dorian</li>
                            <li>Aeolian(minor)</li>
                            <li>Phrygian</li>
                            <li>Locrian</li>
                        </ol></li>
                </ul>
                <br>
                <h2>That's 7 Scales. What about the other 3?</h2>
                The remaining 3 scales are a bit more difficult for me to wrap my head around. But the more I think about 
                them, the more I hear them being used in jazz solos (particularly bebop, e.g. Bobby Timmons' Donna Lee). 
            </p>
            <p>
                (included intervals notated using 1-13, adding b/# (flat/sharp) when necessary)
                <ul>
                    <li><h3>Lydian b7</h3>
                    <ul>
                        <li>( 1, 2, 3, <b>#4</b>, 5, 6, <b>b7</b> )</li>
                        <li>This one isn't too crazy- using Lydian mode is just like playing the Major scale,
                            except you sharp/# the 4th degree. This scale just takes it one step further, adding the flat/b 7th.
                        </li>
                        <li>Soloing in Lydian works great over Major chords, but I find it too easily kills the ambiguity 
                            when teasing major vs. minor in a progression (<i>remember: musical tension is merely a high/low mixup. pretend this is street fighter</i>). Adding the b7, however, makes this a bit more compatible 
                            with pentatonic minor licks. Definitely going to try substituting some minor scales with Lydian b7
                        </li>
                    </ul></li>
                    <li><h3>Altered scale</h3>
                    <ul>
                        <li> ( 1, 3,<b> b7, b9, #9, #11, b13</b> )</li>
                        <li>Mannnnnnnnn I don't know upper extensions like that</li>
                        <li>Okay, I know how they work, sort of, but I need to convert in my head to make it easier</li>
                        <li>1, b2, #2, 3, #4, b6, b7</li>
                        <li>What makes this scale special is the fact that it includes <b>all possible altered intervals</b></li>
                        <li>This will need more thinking. But initial thoughts are: holy ambiguity, batman</li> 
                    </ul></li>
                    <li><h3>Symmetrical Diminished</h3>
                    <ul>
                        <li>( 1, 3, <b>#4</b>, 5, 6, <b>b7, b9, #9</b>)</li>
                        <li>This one seems even crazier, at first glance. But immediately I recognize that this is actually a scale I use already?</li>
                        <li>In my head, when I play with these notes, I'm swinging from one chord type to another- or even changing keys with this</li>
                        <li>This feels really natural, because the 3, 5, and 6 lend themselves to major chords</li>
                        <li>Meanwhile, the remaining intervals either lend themselves to minor, or something much spookier (e.g. b9 makes me think: phrygian/locrian)</li>
                    </ul></li>
                </ul>

                <h1>Key takeaways:</h1>
                <ul>
                    <li>I need to solidify my understanding of upper extensions (9,11,13,including b/#)</li>
                    <li>While it feels familiar to use the Symmetrical Diminished scale- it wasn't something I was 
                        particularly conscious of doing. I should try to become more conscious of using it, in an effort
                        to solidify my understanding of those ideas
                    </li>
                    <li>bigger picture- I've actually never listened to somebody talk about musical improvisation 
                        in such a way. It's really satisying to hear the way he talks about it- it enforces my beliefs 
                        about musical improv being the kind of language that can <b>absolutely be taught</b>, and 
                        can be explained in a tangible way (much like how we analyze literature, or even just the mechanics of language themselves)
                    </li>
                </ul>
                <p>Anyway. This will be the first of many whiteboard postings to come! I find it helpful to write about 
                    things I am trying to learn/parse/understand. And I think it's worth documenting this learning process, so maybe 
                    somebody out there could read this and be like "wait, did you just call major/minor tension a high/low mixup? do you think music is a fighting game?" 
                </p>
                <p>
                    And then I can be like "No no of course not thats crazy hahaaaaa"
                </p>
                <h3>- bSharp</h3>

                </p>
              </div>
            </div>
            <div class="rightcolumn">
              <div class="card">
                <h2>Brad Shaffer</h2>
                <p><b>Music, fighting games, and various esoteric fascinations</b></p>
              </div>
              <div class="card">
                <h3>If you wanna say hi:</h3>
                <div class="fakeimg"><a href="https://github.com/bsharpcb"><i class="fa fa-github" style="font-size:48px;"></i> Github</a>
                </div><br>
                <div class="fakeimg"><a href="https://twitter.com/bSharpCb"><i class="fa fa-twitter" style="font-size:48px;"></i> Twitter</a></div><br>
                <div class="fakeimg"><a href="https://www.linkedin.com/in/bradley-shaffer-9a8b5772/"><i class="fa fa-linkedin" style="font-size:48px;"></i> LinkedIn</a></div>
              </div>
            </div>
          </div>
          
          <div class="footer">
            <h2>B#Cb</h2>
            <div id="links">
                <a href="https://github.com/bsharpcb"><i class="fa fa-github" style="font-size:48px;"></i></a>
                <a href="https://twitter.com/bSharpCb"><i class="fa fa-twitter" style="font-size:48px;"></i></a>
                <a href="https://www.linkedin.com/in/bradley-shaffer-9a8b5772/"><i class="fa fa-linkedin" style="font-size:48px;"></i></a>
            </div>
          </div>
          <script type="text/javascript" src="midi.js"></script>
          <script type="text/javascript" src="utility.js"></script>
    </body>
</html>