<html>
    <head>
        <title>Video Archives</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/whiteboard.css">
        <link rel="stylesheet" href="styles/vidlib.css">
    </head>
    <body>
        
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Home</a>
                <a href="/flashnotes">MIDI Practice Flashcards</a>
                <a href="/lesson1">Chord names </a>
                <a href="/transcribe">Transcribe MIDI Inputs</a>
                <!--a href="/whiteboard">What's on my Whiteboard?</a-->
        </div>
        <div id="top-bar">
            <img src="/img/logo-alpha.png" onclick="openNav()">
            <span id="title-top">
                <div class="imessage">
                    <p class="from-them">Video archives: mostly instruments and memes</p>
                  </div>
            </span>
        </div>
        <div class="header">
            <h1>Random archive of videos that I've made an effort to hold onto</h1>
            <p>As of 1-12-22, just some instruments and a meme video edit from the competitive pokemon days</p>
        </div>
        <div class="bcb-vids-title">Some drum footage from 2016(?) after my brother picked up a 4k camera</div>
        <video class="bcb-vids-disp" src="/vid/drums4k.mp4" controls>
            <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/drums4k.mp4">link to the video</a> instead.</p> 
        </video>
        <div class="bcb-vids-title">Clickbait does a (fantastic, imo) cover of Bohemian Rhapsody - 2020</div>
        <video class="bcb-vids-disp" src="/vid/bohemian.mp4" controls>
            <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/bohemian.mp4">link to the video</a> instead.</p> 
        </video>
        <div class="bcb-vids-title">Clickbait's rockband style cover of a Jonas Brothers song</div>
        <video class="bcb-vids-disp" src="/vid/sucker.mp4" controls>
            <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/sucker.mp4">link to the video</a> instead.</p> 
        </video>
        <div class="bcb-vids-title">Acoustic guitar cover of Fur Elise - 2013</div>
        <video class="bcb-vids-disp" src="/vid/furelise.mp4" controls>
            <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/furelise.mp4">link to the video</a> instead.</p> 
        </video>
        <div class="bcb-vids-title">The only piano footage I have :P - 2022</div>
        <video class="bcb-vids-disp" src="/vid/piano-12-14.mp4" controls>
            <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/piano-12-14.mp4">link to the video</a> instead.</p> 
        </video>
        <div class="bcb-vids-title">Once upon a time I made youtube videos about competitive pokemon</div>
        <video class="bcb-vids-disp" src="/vid/pokememe.mp4" controls>
            <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/pokememe.mp4">link to the video</a> instead.</p> 
        </video>



  <div class="footer">
    <h2>B#Cb</h2>
    <div id="links">
        <a href="https://github.com/bsharpcb"><i class="fa fa-github" style="font-size:48px;"></i></a>
        <a href="https://twitter.com/bSharpCb"><i class="fa fa-twitter" style="font-size:48px;"></i></a>
        <a href="https://www.linkedin.com/in/bradley-shaffer-9a8b5772/"><i class="fa fa-linkedin" style="font-size:48px;"></i></a>
        <a href="https://www.twitch.tv/bradsharp"><i class="fa fa-twitch" style="font-size:48px;"></i></a>
    </div>
  </div>
  <script type="text/javascript" src="midi.js"></script>
  <script type="text/javascript" src="utility.js"></script>
</body>
</html>