html {
    background-color: cornflowerblue;
}

body {
	margin: 0;
	font-family: sans-serif;
}


textarea {
	display: flex;
	white-space: pre-wrap;
}

#content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    color: slateblue;
}

#bcb-menu:hover {
    color: white;
	
}

#bcb-menu {
	font-size:60px;
	font-weight: bold;
	cursor:pointer;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  .sidenav h1 {
	  margin-left: 10px;
	  color: white;
  }

  #toggle-osc-box {
	  margin-top: 16px;
  }

  #osc-box {
	  display: none;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }

  .sidenav select {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  
#top-bar {
	width: 100%;
	position: fixed;
	padding: .7em 0 .7em .7em;
	top: 0;
	left: 0;
	background-color: indigo;
	border: 3px solid black;
  }
  
#landing-greeting {
	padding-left: 9px;
	padding-right: 5px;
	margin: 7% 25% 0 25%;
	text-align: left;
	background-color: thistle;
}

#landing-greeting h1 {
	text-align: center;
}
  
