html {
    background-color: cornflowerblue;
}

body {
	margin: 0;
	font-family: sans-serif;
}


textarea {
	display: flex;
	white-space: pre-wrap;
}

#mu-container {
	width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#mu-canvas {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#piano-ui {
	margin-left: 25px;
	display: flex;
}

.keys {
	height: calc(var(--width)*4);
	width: var(--width);
}

.white {
	--width: 50px;
	background-color: white;
	border: 1px solid #333;
}

.black {
	--width: 30px;
	background-color: black;
	margin-left: calc(var(--width) / -2);
	margin-right: calc(var(--width) / -2);
	z-index: 2;
}

#whiteboard {
	background-color: whitesmoke;
	min-height: 50%;
	border: 8px gray solid;
	margin-bottom: 25px;
	display: flex;
}

#wb-words {
	width: 50%;
	margin-left: 10px;
	font-size: 24px;
	font-weight: bold;
	color: rgb(14, 14, 194);
	font-family: monoco;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

.chName:hover {
	color: maroon;
}

.rNote:hover {
	color: green;
}

.white .noteName {
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
	margin-right: 15px;
}

.black .noteName {
	font-size: 16px;
	font-weight: bold;
	color:black;
	margin-left: 4px;
	margin-right: 4px;
}

.black .noteName:hover {
	color: white;
}

.white .noteName:hover {
	color: black;
}



#wb-figure {
    width: 50%;
    margin-left: 15%;
    font-size: 36px;
    line-height: 1.7;
    letter-spacing: 1.5px;
    color: darkorchid;
}

#content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    color: slateblue;
}

#bcb-menu:hover {
    color: white;
	
}

#bcb-menu {
	font-size:60px;
	font-weight: bold;
	cursor:pointer;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  .sidenav h1 {
	  margin-left: 10px;
	  color: white;
  }

  #toggle-osc-box {
	  margin-top: 16px;
  }

  #osc-box {
	  display: none;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }

  .sidenav select {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

#wordbank-open {
	float: right;
	font-size: 24px;
}



  /* The Modal css below */
p#lookup-term {
    font-size: 24px;
}

#wordbank > p{
	font-weight: bold;
	color: green;
	padding-left: 20px;
}

#wordbank > p:hover{
	color: white;
}

#wordbank {
	background-color: black;
	width: 20%;
	float: right;
	overflow: auto;
	display: none;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: sans-serif;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .wrapper {
	  text-align: center;
  }

  .wrapper p{
	  min-height: 40px;
  }

  .time-display {
	  font-size: 24px;
  }

  #fc-start-button {
	  border: solid 10px black;
	  background-color: darkslategray;
	  color: white;
	  font-size: 100px;
	  padding: 1%;
	  border-radius: 37%;
  }